# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
.env
pip-log.txt
pip-delete-this-directory.txt
lunavenv

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDEs and editors
.vscode/
.idea/
*.swp

# Results
results
pretrained_models
README.html
diffraction*
results/*
results*
pretrained_models/*
pretrained_models_diffraction
pretrained_models_diffraction/*
pretrained_models_diffraction/
create_visualizations.py
train_cdpmk2_hz_v2_ft.py
test_full_model.py
train_residual_diffusion.py